@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
}

body {
    height: 100vh;
    display: block;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #aff7b7;
}

header {
    color: black;
    width: 100vw;
    height: 100px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.title {
    font-size: 70px;
}

.subtitle {
    font-size: 30px;
}

.buttonsContainer,
.settingsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.button {
    height: 45px;
    width: 250px;
    font-size: x-large;
    font-family: 'Barlow Condensed', sans-serif;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

.timerContainer {
    height: 100px;
    width: 200px;
    margin: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    border: solid 5px rgb(39, 39, 39);
}

.alarm {
    height: 3px;
    width: 3px;
    background-color: red;
}

.timer {
    font-size: 70px;
    font-family: 'Share Tech Mono', monospace;
    color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    /*-webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: 1s;*/
}

.pomodoroButton,
.shortBreakButton,
.longBreakButton {
    background-color: rgb(49, 174, 247);
}

.start {
    background-color: rgb(30, 204, 39);
}

.stop {
    background-color: red;
}

.reset {
    background-color: gray;
}

.source {
    color: black;
}

@media (max-width: 750px) {
    
.buttonsContainer,
.settingsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buttonsContainer {
    margin-top: 100px;
}

}